<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Page1</title>
</head>
<body>
    <div align="center">
        <h1>
            Put Your MISC-HBD Command
        </h1>
    </div>

    <div align="center">
        <form action="/process" method="get">

            <textarea type="text" name="order" cols="14" rows="10"></textarea>
            <br>
            <input type="submit" value="process">

        </form>
    </div>
    <div align="center">
        <table>
            <tr >
                <td>reg1 = </td>
                <td th:text="${register.reg1}"></td>
            </tr>
            <tr >
                <td>reg2 = </td>
                <td th:text="${register.reg2}"></td>
            </tr>
            <tr >
                <td>reg3 = </td>
                <td th:text="${register.reg3}"></td>
            </tr>
            <tr >
                <td>reg4 = </td>
                <td th:text="${register.reg4}"></td>
            </tr>
            <tr >
                <td>reg5 = </td>
                <td th:text="${register.reg5}"></td>
            </tr>
            <tr >
                <td>reg6 = </td>
                <td th:text="${register.reg6}"></td>
            </tr>
            <tr >
                <td>reg7 = </td>
                <td th:text="${register.reg7}"></td>
            </tr>
            <tr >
                <td>reg8 = </td>
                <td th:text="${register.reg8}"></td>
            </tr>
            <tr >
                <td>reg9 = </td>
                <td th:text="${register.reg9}"></td>
            </tr>
            <tr >
                <td>reg10 = </td>
                <td th:text="${register.reg10}"></td>
            </tr>
            <tr >
                <td>reg11 = </td>
                <td th:text="${register.reg11}"></td>
            </tr>
            <tr >
                <td>reg12 = </td>
                <td th:text="${register.reg12}"></td>
            </tr>
            <tr >
                <td>reg13 = </td>
                <td th:text="${register.reg13}"></td>
            </tr>
            <tr >
                <td>reg14 = </td>
                <td th:text="${register.reg14}"></td>
            </tr>
            <tr >
                <td>reg15 = </td>
                <td th:text="${register.reg15}"></td>
            </tr>
            <tr >
                <td>reg16 = </td>
                <td th:text="${register.reg16}"></td>
            </tr>

        </table>

    </div>

</body>
</html>